@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>

<form class="col s12 compactForm" style="width:30%" action="/Auth/Login" method="post">
    <div class="row">
        <div class="input-field col s12">
            <input id="email" name="email" type="email" placeholder="Email" class="validate">
            <label for="email">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input id="password" name="password" placeholder="Password" type="password">
            <label for="password">Password</label>
        </div>
    </div>
    <div class="row">
        <button style="width:60%; margin-bottom:10px" class="waves-effect waves-light btn light-blue" type="submit">Submit</button>
        <a  class="loginButton waves-effect waves-light btn" href="/Auth/Google"><img class="logginButtonIcon" src="~/images/google.svg" /> Sign in with Google</a>
        <a class="loginButton waves-effect waves-light btn" href="/Auth/Github"><img class="logginButtonIcon" src="~/images/github.svg" />Sign in with Github</a>
        <a class="loginButton waves-light btn" href="/Auth/Reddit"><img class="logginButtonIcon"  src="~/images/reddit.svg" />Sign in with Reddit</a>
    </div>
   
</form>
