@{
	 ViewData["Title"] = "Home Page";
}

<div class="text-center">
	 <h1>Welcome</h1>
	 <p>Log in to view private information.</p>
	 <hr />
	 <p>Learn more about the <a href="https://materializecss.com/getting-started.html">Materialize UI kit</a>.</p>
	 <p>Learn more about <a href="https://www.postgresql.org/docs/12/tutorial-start.html">PostgreSQL</a>.</p>
	 <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
